@tailwind base;
@tailwind components;
@tailwind utilities;



.transition-bottom {
  transition-property: bottom;
}

.card-animated {
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
  transform-origin: -70% 60%;
}

.scrollbar-container::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

.scrollbar-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.scrollbar-container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

.scrollbar-container::-webkit-scrollbar-button {
  display: none;
}

.pac-container:after {
  content: none !important;
}

/* map styling */ 

.map {
  overflow: hidden;
}

.map--svg {
  width: 100%;
  float: left;
}

.map--svg path {
  fill: #60a5fa;
  stroke: #FFF;
  stroke-width: 1px;
  transition: fill 0.3s;
  cursor: pointer;
}

.map--svg path:hover {
  fill: #93c5fd
}