@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-bottom {
  transition-property: bottom;
}

.card-animated {
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
  transform-origin: -70% 60%;
}